<div class="container">
  <div class="logo">
    <h1>Cajero</h1>
  </div>
  
  <div class="pantalla">

    <div class="balance">
      <div class="balance__title">
        balance
      </div>
      <div class="balance__cantidad">
        {{ cajero.efectivoActual() | currency:"$"}}
      </div>
    </div>
  
    <div class="botones">
      <!-- <input   [formControl]="cantidadARetirar" placeholder="cantidad a retirar"> -->
      <mat-form-field appearance="fill" class="botones_input">
        <mat-label>Ingresa una cantidad</mat-label>
        <input  matInput [formControl]="cantidadARetirar" type="number">
      </mat-form-field>
      
      <button class="botones_button" (click)="agregarDinero(500)" mat-raised-button color="accent">+ $500</button>
      <button class="botones_button" (click)="agregarDinero(200)" mat-raised-button color="accent">+ $200</button>
      <button class="botones_button" (click)="agregarDinero(100)" mat-raised-button color="accent">+ $100</button>
      <button class="botones_button" (click)="agregarDinero(500)" mat-raised-button color="accent">+ $50</button>
      
      
      <button class="botones_retirar" (click)="retirarDinero()"  mat-raised-button color="warn"> Retirar</button>
    </div>
  </div>
</div>